{% extends 'layout/admin.html.twig' %}

{% block title %}Google compute providers{% endblock %}

{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li>Settings</li>
        <li>Providers</li>
        <li class="active">{{ block('title') }}</li>
    </ol>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-10">

            <div class="box box-primary" role="presentation">
                <div class="box-header">
                    <h3 class="box-title">Google compute providers
                        <a href="{{ path(controllerDescription.routes['create']) }}"><span
                                    class="add-item-link">Add</span> </a>
                    </h3>
                </div>
                <div class="box-body">
                    {% if entity_list|length > 0 %}
                        <table class="table">
                            <tr>
                                <th>Id</th>
                                <th>Name</th>
                                <th>GC account</th>
                                <th>Project</th>
                                <th>Zone</th>
                                <th>Machine type</th>
                                <th>Snapshot name</th>
                                <th>Disk type</th>
                                <th>Disk size</th>
                                <th>Actions</th>
                            </tr>
                            {% for entity in entity_list %}
                                <tr>
                                    <td>{{ entity.id }}</td>
                                    <td>{{ entity.name }}</td>
                                    <td>{{ entity.gcAccount.name }}</td>
                                    <td>{{ entity.project }}</td>
                                    <td>{{ entity.zone }}</td>
                                    <td>{{ entity.machineType }}</td>
                                    <td>{{ entity.snapshotName }}</td>
                                    <td>{{ entity.diskType }}</td>
                                    <td>{{ entity.diskSize }}</td>
                                    <td>
                                        <a href="{{ path(controllerDescription.routes['edit'], {'id': entity.id}) }}">Edit</a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </table>
                    {% else %}
                        No gce accounts yet.
                    {% endif %}
                </div>
            </div>

        </div>

        <div class="col-md-2">

        </div>
    </div>

{% endblock %}