<div class="header">{{ 'security.change_password.title'|trans }}</div>

{% form_theme form 'frontend/core/form/bootstrap_form.html.twig' %}
<form action="{{ path('fos_user_change_password') }}" {{ form_enctype(form) }} method="POST" class="fos_user_change_password">
    {{ form_row(form._token) }}

    <div class="body bg-gray">
        <div class="form-group{% if not form.current_password.vars.valid %} has-error{% endif %}">
            {{ form_widget(form.current_password, { 'attr': { 'class': 'form-control', 'placeholder': "security.change_password.current"|trans } }) }}
            {{ form_errors(form.current_password) }}
        </div>

        <div class="form-group{% if not form.plainPassword.first.vars.valid %} has-error{% endif %}">
            {{ form_widget(form.plainPassword.first, { 'attr': { 'class': 'form-control', 'placeholder': "security.change_password.new"|trans } }) }}
            {{ form_errors(form.plainPassword.first) }}
        </div>

        <div class="form-group{% if not form.plainPassword.second.vars.valid %} has-error{% endif %}">
            {{ form_widget(form.plainPassword.second, { 'attr': { 'class': 'form-control', 'placeholder': "security.change_password.new_confirm"|trans } }) }}
            {{ form_errors(form.plainPassword.second) }}
        </div>
    </div>

    <div class="footer">
        <button type="submit" class="btn btn-block bg-olive">{{ 'security.change_password.submit'|trans }}</button>
    </div>
</form>
