<ul class="sidebar-menu">
    <li>
          <span>
            <i class="fa fa-dashboard"></i>
            Gereral
          </span>
        <ul class="menu-section">
            <li><a href="{{ path('settings.ssh_key.list') }}">
                    <i class="fa menu-item"></i>
                    Ssh keys </a></li>
            <li><a href="{{ path('settings.google_cloud_account.list') }}">
                    <i class="fa menu-item"></i>
                    Google cloud accounts</a></li>
        </ul>
    </li>
    <li>
        <span>
            <i class="fa fa-th"></i>
            Providers
        </span>
        <ul class="menu-section">
            <li><a href="{{ path('settings.google_compute_provider.list') }}">
                    <i class="fa menu-item"></i>
                    Google compute providers</a></li>
        </ul>
    </li>
    <li>
        <span>
            <i class="fa fa-book"></i>
            Cache
        </span>
        <ul class="menu-section">
            <li><a href="{{ path('settings.google_storage_cache.list') }}">
                    <i class="fa menu-item"></i>
                    Google storage cache</a></li>
            <li><a href="{{ path('settings.s3_cache.list') }}">
                    <i class="fa menu-item"></i>
                    S3 cache</a></li>
        </ul>
    </li>
    <li>
        <span>
            <i class="fa fa-laptop"></i>
            Repository
        </span>
        <ul class="menu-section">
            <li><a href="{{ path('settings.gitlab_repository.list') }}">
                    <i class="fa menu-item"></i>
                    Gitlab</a></li>
            <li><a href="{{ path('settings.github_repository.list') }}">
                    <i class="fa menu-item"></i>
                    Github</a></li>
        </ul>
    </li>
    <li>

        <a href="{{ path('settings.project.list') }}">
            <i class="fa fa-table"></i>
            Projects</a>
    </li>
    <li>

        <a href="{{ path('settings.user.list') }}">
            <i class="fa fa-user-o"></i>
            Users</a>
    </li>


</ul>